.header {
  &-ulNav {
    display: flex;
    justify-content: center;

    @media (max-width: 701px) {
      justify-content: space-around;
    }
  }

  &-liNav {
    list-style-type: none;
    color: black;
    margin: 20px 1rem;
  }

  &-nav {
    height: 5vh;
    border-bottom: 1px solid black;
  }

  &-links {
    text-decoration: none;
    color: black;
    &:hover {
      color: lightcoral;
    }
    &--active {
      text-decoration: underline;
      color: lightcoral;
    }

    &--login {
      float: right;
      margin-right: 40px;
      margin-top: -40px;
    }
    &--signup {
      margin-left: 10px;
      margin-top: -40px;
    }
    &--edit {
        margin-right: 10px;
    }
  }
}
